<div class="top-hud" id="top-hud" aria-label="Status HUD">
  <div class="hud-item" id="hud-time">--:--</div>
  <div class="hud-item" id="hud-date">-- ---</div>
  <div class="hud-item mute-icon" id="hud-mute" style="display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;position:relative;top:0.1em;visibility:hidden" aria-label="Muted">
    <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" style="display:block;margin:auto;">
      <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03V5a1 1 0 0 0-1.62-.78l-3.38 2.78H5a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h4l3.38 2.78A1 1 0 0 0 13 19v-2.97c1.48-.74 2.5-2.26 2.5-4.03zm-2.5 2.03V17l-3.38-2.78A1 1 0 0 0 9 13H5v-6h4a1 1 0 0 0 .62-.22L13 5v2.97c-1.48.74-2.5 2.26-2.5 4.03s1.02 3.29 2.5 4.03zM19.78 4.22a.75.75 0 0 0-1.06 0l-14 14a.75.75 0 1 0 1.06 1.06l14-14a.75.75 0 0 0 0-1.06z"/>
    </svg>
  </div>
</div>
