<div class="tabs-header" role="tablist" aria-label="Profile sections">
  <button type="button" class="tab-indicator active" id="tab-ind-0" role="tab" aria-selected="true" aria-controls="tab-0">LINKS</button>
  <button type="button" class="tab-indicator" id="tab-ind-1" role="tab" aria-selected="false" aria-controls="tab-1">ABOUT</button>
  <button type="button" class="tab-indicator" id="tab-ind-2" role="tab" aria-selected="false" aria-controls="tab-2">HELP</button>
  <button type="button" class="tab-indicator" id="tab-ind-3" role="tab" aria-selected="false" aria-controls="tab-3">SNAKE</button>
</div>
