<div class="app-turn-control">
  <button type="button" class="app-btn turn" id="btn-turn" aria-label="Toggle Layout">
    <svg viewBox="0 0 24 24" class="turn-icon">
      <path d="M16.48 2.52c3.27 1.55 5.61 4.72 5.97 8.48h1.5C23.44 4.84 18.29 0 12 0l-1 0v6l5.48-3.48zM4.93 1.25c-2.72 1.96-4.59 5.05-4.86 8.75h1.52c.26-3.13 1.83-5.75 4.14-7.41l-0.8-1.34zM1.55 13H0.05C0.38 18.66 4.92 23.16 10.5 23.5L10.5 22c-4.75-0.3-8.58-4.14-8.95-9zM19.93 13h1.52c-0.27 3.7-2.14 6.79-4.86 8.75l-0.8-1.34c2.31-1.66 3.88-4.28 4.14-7.41zM2 13h2c0-4.42 3.58-8 8-8s8 3.58 8 8h2c0-5.52-4.48-10-10-10S2 7.48 2 13z" fill="currentColor"/>
    </svg>
  </button>
</div>
